#navbar{
    display : flex;
    border:0px solid red;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin-bottom: 100px;
}

#navbar>div{
    display : flex;
    border:0px solid red;
    gap: 5px;

}

#create{
    
    border:0px solid red;  
    margin: auto;
    width: 450px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#added{
    margin-top: 20px;
}
form{
    margin: auto;
}
input,select,label{
    padding: 10px;
    width: 80%;
    margin-top: 10px;
}