.container{
    border: 1px solid black;
    margin: auto;
    width: 200px;
    text-align: center;
    padding: 10px;
    justify-content: center;
    margin-top: 200px;
}

.container>div{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-top: 5px;
}

#winner{
    width: 100px;
}